@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Prompts
 */
.prompt__text {
  @apply dark:text-gray-100;
}

/**
 * Code editor
 */
.cm-editor {
  flex: 1;
}
.cm-content {
  @apply dark:text-gray-200;
}
.cm-gutter {
  @apply bg-gray-100 dark:bg-gray-700;
}
.ͼ2 .cm-gutters {
  /* ??? */
  @apply dark:border-r-gray-600;
}

/**
 * Loader
 */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  @apply bg-indigo-600;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: loader 1.2s linear infinite;
}
.loader div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.loader div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.loader div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.loader div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.loader div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.loader div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.loader div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.loader div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.loader div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes loader {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
